* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
@media (max-width: 880px) {
  .container {
    padding: 0 30px;
  }
}

.btn {
  display: block;
  width: fit-content;
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 1.1;
  letter-spacing: 1px;
  padding: 15px 45px;
  border-radius: 100px;
  border: 1px solid #f1cdb3;
  transition: all 0.3s;
  cursor: pointer;
}
.btn_primary {
  background: #f1cdb3;
}
.btn_secondary {
  background: #fff;
}
.btn:hover {
  background: #fddcc4;
  border-color: #fddcc4;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header__title {
  font-size: 32px;
  line-height: 1.1;
}
.header__subtile {
  font-size: 13px;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 35px;
  margin: 0 2px 2px 0;
}
.header__menu-link {
  display: block;
  color: #cdcdcd;
  font-size: 15px;
  line-height: 1.6;
  position: relative;
}
.header__menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  background: #f1cdb3;
  transition: all 0.4s;
}
.header__menu-link:hover::after {
  width: 100%;
  background: #b2b2b2;
}
.header__menu-link_active {
  color: #fafafa;
  pointer-events: none;
}
.header__menu-link_active::after {
  width: 100%;
}

.hero {
  padding-top: 180px;
  background: center/120px url("../assets/images/bg-noise.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
@media (max-width: 1132px) {
  .hero {
    padding-top: 150px;
  }
}
.hero__container {
  display: flex;
  gap: 42px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 164px;
}
@media (max-width: 1132px) {
  .hero__content {
    width: 460px;
    padding-top: 0;
    align-self: center;
  }
}
.hero__title {
  max-width: 310px;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 44px;
  line-height: 1.3;
}
.hero__text {
  max-width: 460px;
  color: #cdcdcd;
  font-size: 15px;
  line-height: 1.6;
}
@media (max-width: 1132px) {
  .hero__img {
    align-self: end;
  }
}
.hero__img img {
  display: block;
}
@media (max-width: 1132px) {
  .hero__img img {
    width: 74vw;
  }
}
@media (max-width: 1132px) {
  .hero__btn {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 1132px) {
  .hero__container {
    flex-direction: column;
    gap: 100px;
  }
}

.logo {
  display: block;
}
.logo__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #f1cdb3;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 1.8px;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.logo__subtitle {
  font-size: 13px;
  letter-spacing: 1.3px;
  text-indent: 4px;
  color: #fff;
  transition: all 0.3s;
}

.section {
  padding: 80px 0 100px;
}
.section__title {
  max-width: 400px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2px;
  color: #292929;
}
.section__title_center {
  text-align: center;
  margin: 0 auto 60px;
}

.about {
  color: #292929;
}
.about__title {
  margin-bottom: 25px;
}
.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
@media (max-width: 980px) {
  .about__container {
    flex-direction: column-reverse;
    gap: 80px;
  }
}
.about__content {
  max-width: 437px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  padding-left: 4px;
}
.about__content p:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 960px) {
  .about__content {
    max-width: 430px;
    padding-left: 0;
    padding-top: 1px;
  }
}
.about__text {
  width: 430px;
}

.friends {
  background: #f6f6f6;
  padding-bottom: 73px;
}
.friends__title {
  text-align: center;
}
.friends__slider {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.friends__list {
  max-width: 990px;
  display: flex;
  gap: 90px;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 1180px) {
  .friends__list {
    gap: 40px;
    width: 580px;
  }
}
.friends__item {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #fafafa;
  padding-bottom: 30px;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s;
}
.friends__item:hover {
  background: #fff;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
}
.friends__item:hover .btn {
  background: #fddcc4;
  border-color: #fddcc4;
}
.friends__item-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.friends__item-btn {
  background: transparent;
}
.friends__btn {
  margin: 60px auto 0;
}
.friends__slider-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.friends__slider-btn {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/icons/slider-icon.svg) center/14px no-repeat, transparent;
  border-radius: 50%;
  padding: 0;
}
.friends__slider-btn-next, .friends__slider-btn-forward {
  transform: rotate(-180deg);
}
.friends__slider-btn {
  /* &-backward,
  &-prev {
    transform: rotate(-180deg);
  } */
}
.friends__slider-btn:hover {
  background: url(../assets/icons/slider-icon.svg) center/14px no-repeat, #fddcc4;
}

.help {
  padding-top: 109px;
}
.help__title {
  text-align: center;
}
.help__list {
  max-width: 1029px;
  display: flex;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (max-width: 770px) {
  .help__list {
    column-gap: 60px;
    row-gap: 54px;
  }
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (max-width: 770px) {
  .help__item {
    width: 170px;
  }
}
.help__item-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.help__item img {
  display: block;
  width: 60px;
  height: 60px;
}

.donation {
  background: #f6f6f6;
}
.donation__container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 920px) {
  .donation__container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
}
.donation__container img {
  width: 505px;
  height: 261px;
  margin-top: 10px;
}
.donation__content {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.donation__subtitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__card {
  display: block;
  width: fit-content;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 107%;
  letter-spacing: 1.2px;
  color: #545454;
  padding: 10px 15px 10px 60px;
  background: url(../assets/icons/credit-card.svg) 15px center/30px no-repeat, #f1cdb3;
  border-radius: 9px;
  margin-top: -1px;
  transition: 0.4s;
}
@media (max-width: 920px) {
  .donation__card {
    margin-top: 0;
  }
}
.donation__card:hover {
  background: url(../assets/icons/credit-card.svg) 15px center/30px no-repeat, #fddcc4;
}
.donation__info {
  font-style: italic;
  font-size: 12px;
  line-height: 1.5;
  color: #b2b2b2;
}

.footer {
  background: url(../assets/images/bg-noise.png) 120px, radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  padding: 40px 0 0;
}
@media (max-width: 1240px) {
  .footer {
    padding: 32px 0 0;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}
@media (max-width: 1240px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 55px;
  }
}
.footer__title {
  color: #fff;
}
.footer__column {
  height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 18px;
}
@media (max-width: 1240px) {
  .footer__column {
    height: 234px;
    padding-top: 0;
  }
}
.footer__column:first-of-type {
  width: 278px;
}
.footer__column:first-of-type .footer__contacts-link {
  padding: 4px 0 4px 60px;
}
.footer__column:first-of-type .footer__contacts-link:first-of-type {
  background: url(../assets/icons/footer-icons/mail.svg) 0 center/40px no-repeat;
}
.footer__column:first-of-type .footer__contacts-link:first-of-type:hover {
  background: url(../assets/icons/footer-icons/mail-hover.svg) 0 center/40px no-repeat;
}
.footer__column:first-of-type .footer__contacts-link:last-of-type {
  background: url(../assets/icons/footer-icons/phone.svg) 0 center/40px no-repeat;
}
.footer__column:first-of-type .footer__contacts-link:last-of-type:hover {
  background: url(../assets/icons/footer-icons/phone-hover.svg) 0 center/40px no-repeat;
}
.footer__column:nth-of-type(2) {
  width: 302px;
}
.footer__column:nth-of-type(2) .footer__contacts-link {
  padding-left: 42px;
  background: url(../assets/icons/footer-icons/pin.svg) 0 center/22px no-repeat;
}
.footer__column:nth-of-type(2) .footer__contacts-link:last-of-type {
  padding-top: 5px;
}
.footer__column:nth-of-type(2) .footer__contacts-link:hover {
  background: url(../assets/icons/footer-icons/pin-hover.svg) 0 center/22px no-repeat;
}
.footer__column:nth-of-type(2) .footer__contacts-link:last-of-type {
  padding: 4px 0 4px 42px;
}
@media (max-width: 768px) {
  .footer__column:nth-of-type(2) .footer__contacts-link:last-of-type {
    padding-top: 6px;
  }
}
@media (max-width: 768px) {
  .footer__column .footer__contacts-link:first-of-type {
    margin-top: -2px;
  }
}
.footer__contacts-link {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  transition: all 0.3s;
}
.footer__contacts-link:hover {
  color: #fafafa;
}
@media (max-width: 1240px) {
  .footer__img {
    padding-top: 10px;
  }
}
.footer__img img {
  display: block;
}

.pets {
  padding-top: 120px;
}
.pets .logo__title,
.pets .header__menu-link {
  color: #545454;
}
.pets .header__menu-link:hover::after {
  background: #fddcc4;
}
.pets .logo__subtitle,
.pets .header__menu-link_active {
  color: #292929;
}
.pets .logo:hover .logo__subtitle,
.pets .logo:hover .logo__title {
  color: #af7348;
}
.pets .friends__list {
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
  margin-bottom: 88px;
}
.pets .friends__slider-buttons {
  position: static;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.pets .friends__slider-btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.pets .friends__slider-btn-page {
  background: #f1cdb3;
}
.pets .friends__slider-btn-page:hover {
  background: #fddcc4;
}
.pets .friends__pagination-btn {
  background: url(../assets/icons/slider-icon-pets.svg) center no-repeat, transparent;
}
.pets .friends__pagination-btn:hover {
  background: url(../assets/icons/slider-icon-pets.svg) center no-repeat, #fddcc4;
}
.pets .friends__pagination-btn-pr {
  background: url(../assets/icons/slider-icon-single.svg) center no-repeat, transparent;
}
.pets .friends__pagination-btn-pr:hover {
  background: url(../assets/icons/slider-icon-single.svg) center no-repeat, #fddcc4;
}

/*# sourceMappingURL=style.css.map */
