@use './variables' as var;
@use './mixin' as mix;

.about {
  color: var.$text-color-primary;

  &__title {
    margin-bottom: 25px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;

    @media (max-width: 980px) {
      flex-direction: column-reverse;
      gap: 80px;
    }
  }

  &__content {
    max-width: 437px;
    @include mix.basic-text;
    padding-left: 4px;

    & p:not(:last-child) {
      margin-bottom: 25px;
    }

    @media (max-width: 960px) {
      max-width: 430px;
      padding-left: 0;
      padding-top: 1px;
    }
  }

  &__text {
    width: 430px;
  }
}
