@use './variables' as var;
@use './mixin' as mix;

.about {
  color: var.$text-color-primary;

  &__title {
    margin-bottom: 25px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }

  &__content {
    max-width: 437px;
    @include mix.basic-text;
    padding-left: 4px;

    & p:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__text {
    width: 430px;
  }
}
