@use 'variables' as var;

.btn {
  display: block;
  width: fit-content;
  color: #292929;
  font-family: var.$title-font-family;
  font-size: 17px;
  line-height: 1.3;
  padding: 15px 45px;
  border-radius: 100px;
  border: 1px solid var.$primary-color;
  transition: all 0.3s;
  cursor: pointer;

  &_primary {
    background: var.$primary-color;
  }

  &_secondary {
    background: #fff;
  }

  &:hover {
    background: var.$primary-light-color;
    border-color: var.$primary-light-color;
  }
}
