@use 'variables' as var;

.logo {
  &__title {
    color: var$primary-color;
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 13px;
    color: #fff;
  }
}