@use './variables' as var;

.pets {
  padding-top: 120px;

  .burger {
    &__line {
      background: #000;
    }

    &_open {
      @media (max-width: 768px) {
        .burger__line {
          background: var.$primary-color;
        }
      }
    }
  }

  .logo__title,
  .header__menu-link {
    color: var.$text-color-primary-2;
  }

  @media (hover: hover) {
    .header__menu-link:hover::after {
      background: var.$primary-light-color;
    }
  }

  .logo__subtitle,
  .header__menu-link_active {
    color: var.$text-color-primary;
  }

  @media (hover: hover) {
    .logo:hover .logo__subtitle,
    .logo:hover .logo__title {
      color: var.$primary-dark-color;
    }
  }

  .friends {
    padding-bottom: 100px;

    @media (max-width: 780px) {
      padding-bottom: 76px;
    }

    @media (max-width: 380px) {
      padding-bottom: 43px;
    }
  }

  .friends__title {
    margin-bottom: 60px;

    @media (max-width: 780px) {
      margin-bottom: 30px;
    }

    @media (max-width: 380px) {
      margin-bottom: 42px;
    }
  }

  .friends__list {
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    margin-bottom: 62px;

    @media (max-width: 780px) {
      row-gap: 31px;
      padding-bottom: 0px;
      margin-bottom: 41px;
    }

    @media (max-width: 380px) {
      margin-bottom: 44px;
    }

    .friends__item {
      &:nth-of-type(7),
      &:nth-of-type(8) {
        @media (max-width: 780px) {
          display: none;
        }
      }

      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        @media (max-width: 380px) {
          display: none;
        }
      }
    }
  }

  .friends__slider-buttons {
    position: static;
    display: flex;
    justify-content: center;
    gap: 20px;
    transform: none;

    @media (max-width: 780px) {
      transform: none;
    }

    @media (max-width: 380px) {
      gap: 10px;
    }
  }

  .friends__slider-btn:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .friends__slider-btn-page {
    background: var.$primary-color;

    @media (hover: hover) {
      &:hover {
        background: var.$primary-light-color;
      }
    }
  }

  .friends__pagination-btn {
    background:
      url(../assets/icons/slider-icon-pets.svg) center no-repeat,
      transparent;

    @media (hover: hover) {
      &:hover {
        background:
          url(../assets/icons/slider-icon-pets.svg) center no-repeat,
          var.$primary-light-color;
      }
    }
  }

  .friends__pagination-btn-pr {
    background:
      url(../assets/icons/slider-icon-single.svg) center no-repeat,
      transparent;

    @media (hover: hover) {
      &:hover {
        background:
          url(../assets/icons/slider-icon-single.svg) center no-repeat,
          var.$primary-light-color;
      }
    }
  }

  .footer {
    @media (max-width: 780px) {
      padding: 15px 0 0;
    }

    @media (max-width: 380px) {
      padding: 14px 0 0;
    }

    &__column {
      padding-top: 16px;

      &:first-of-type .footer__contacts-link {
        padding: 4px 0 6px 60px;
      }

      &:nth-of-type(2) .footer__contacts-link:last-of-type {
        padding: 4px 0 7px 42px;

        @media (max-width: 380px) {
          padding: 1px 0 7px 42px;
        }
      }

      @media (max-width: 780px) {
        height: 251px;
      }

      @media (max-width: 380px) {
        height: fit-content;
      }

      &:first-of-type {
        @media (max-width: 380px) {
          gap: 40px;
        }
      }

      &:nth-of-type(2) {
        @media (max-width: 380px) {
          padding-top: 0;
          gap: 40px;
        }
      }
    }
  }
}
